extends layout

block content
  h1= title
  p Registro de #[em Actuaciones] Consulares obtenidas de eSigex.

  h3 Contenido de Colecciones

  if error
    p Error getting dynamic content.
  else
    p Se dispone de la siguiente información:

    ul
      li #[strong Actuaciones:] !{data.actuacion_count}
      li #[strong Dependencias:] !{data.dependencia_count}
      li #[strong Personas:] !{data.persona_count} 
      li #[strong Registros:] !{data.registro_count}
      li #[strong Ubicaciones:] !{data.ubicacion_count}